.product-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 40px;
}

.product-details img {
  width: 100%;
  border-radius: 10px;
}

.info h1 {
  font-size: 32px;
}

.info button {
  padding: 12px 20px;
  background: black;
  color: white;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
